<div class="section-info">
    <b><%= event.eventable.deal.title %></b>
</div>
<div class="section-details">
    <div class="section-details__collaborator">
        <%= event.eventable.email %> 
    </div>
</div>
