<div role="tabpanel" class="tab-pane active" id="tab-deal-closing-book"> <!-- -->
    <div class="container-fluid">
        <%= react_component "ClosingBookView", props: {category: @category} %>
    </div>
</div> <!-- tab panel Close Book End -->