<div role="tabpanel" class="tab-pane active" id="tab-deal-diligence">
    <div class="container-fluid">
      <%= react_component("DealApp", :props => {user_id: current_user.id, :id => params[:id].to_i, :category => {:name => @deal.diligence_category.name, :id => @deal.diligence_category.id}}) %>
    </div>
</div> <!-- tab panel Diligence End -->