<div id="wrapper">
  <%= render "app/shared/left" %>
  <div id="page-wrapper">
    <%= render partial: "app/shared/top", locals: {title: 'Deals'} %>
    <div class="content">
        <%= react_component "DealView", props: {initialDeals: @deals} %>
    </div>
  </div>
</div>

<!-- Modal -->
<%= react_component "CreateDealModal", props: {
    user: current_user, 
    organization_id: current_user.organization.id,
    url: api_deals_path(format: 'json'),
    transaction_types: Deal::TRANSACTION_TYPES
    } %>
