# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d2cee93f4c85bde68e2d261f5939dc575b232780df49674a79aff02430f4df3ef5927c63bbb59b538e1b272000e2877ecee0c414f3db7f2f3b580db66a6550fe
  database:
    :host: localhost
    :name: doxly
    :username: postgres
    :password: root

test:
  secret_key_base: 50a9dd1fe5152c0bc314565537bf21e7269694cbd96443c7b170bb50a1f4633baf527a381518d93661890a0655cb20a9cf25a6f201350b242623abc4edc6b983
  database:
    :host: localhost
    :name: doxly_test
    :username: postgres
    :password: root

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: f47e3299cb227ab07f497efa39ecf247d054e4b7d7edaf6abd5581932a14ec8ef616a6d35ec7f91405b2ce29f09d4e47ab75e7d29b16b7c8ebed8282be87b89c
  rails_serve_static_files: true
  database:
    :host: localhost
    :name: doxly
    :username: postgres
    :password: root