<div id="wrapper">
    <%= render "app/shared/left" %>
    <div id="page-wrapper">
      <%= render partial: "app/shared/top", locals: {title: 'Team'} %>
        <div class="content">
            <%= render 'app/shared/flash_messages' %>
            <%= react_component "TeamMembersView", props: {teamMembers: @team, organization: current_organization.try(:attributes).try(:slice, "id", "name", "email_domain")} %>
        </div>
    </div>
</div>
